body{
	font-family: 'Lato', sans-serif !important;
	max-width: 100%;
/*    overflow-x: hidden;*/
}

#logo {
    padding-top: 15vh;
	padding-bottom: 10vh;
	max-height: 40vh;
	min-height: 40vh;
}

@media only screen and (min-width : 768px) {
    .heroText{
        padding-top: '75vh';
    }
    .detailSection{
        flex-direction: row;
    }
}

@media only screen and (max-width : 768px) {
    .heroText{
        padding-top: '70vh';
    }
    .detailSection{
        flex-direction: column;
    }
}

.detailSection{
    display: flex;
    background-color: #ECECEC;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 130%;
/*    height: 90vh;*/
}

.hero{
/*    background-color: black;*/
    width: 100vw;
    height: 100vh;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
/*    transform: scale(1.1);*/
}

.loopImg{
    width: 50vh;
    object-fit: contain;
}

.detailImage{
    flex: 0 0 45%;
/*    padding-left: 5%;*/
/*    padding-right: 5%;*/
/*    background-color: aquamarine;*/
}

.loopImage{
    width: 400px;
    height: 400px;
}

.detailTitle{
    color: rgb(89, 185, 208);
    font-size: 150%;
}

.detailText{
    flex: 0 0 45%;
    padding-left: 5%;
    padding-right: 5%;
/*    background-color: wheat;*/
}

.heroText{
    padding-top: 75vh;
}

#first{
	height: 100vh;
	padding-bottom: 10vh;
}

#second, #third{
	padding-top: 10vh;
    padding-bottom: 10vh;
}

#second{
	background-color: rgb(236, 236, 236);
    padding-top: 10vh;
}

#third {
	background-color: #353535;
}

.button, .button:focus, .button:active, .button:hover {
	background-color: rgb(253, 206, 48);
	border-color: rgb(253, 206, 48);
	border-radius: 0;
	box-shadow: none;
	outline: none;
	min-width:18vw;
	/*background-color: #FECF67;
	border:0px;*/
	color: white;
    padding: 8px 14px;
	/*box-shadow: 5px 5px 10px #CCCCCC;*/
	text-align: center;
	line-height: 4vh;
/*	margin-top: 3vh;*/
	font-size:135%;
    text-decoration: none;
}

.button:active:focus {
	background-color: #efb745;
	border-color: #efb745;
	color: #ffffff;
}