link(rel='stylesheet' type="text/css" href="css/bookshelf_navbar.css")
nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            a.navbar-brand(href='/api/algorithm/run')
                img(alt='LOOP', src="img/new_logo_navbar.svg", id="navbar_logo")
        ul.nav.navbar-nav.navbar-right
            li
                a(href='#') NOTIFICATIONS
            li
                a(href='/logout/facebook') LOGOUT
