doctype html
html
    head
        meta(charset='utf-8')
        title Loops - Dashboard
        link(rel='stylesheet' type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        link(rel='stylesheet' type="text/css" href="css/dashboard.css")
        script(src=src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    body
        div(class="row" id="forms")
            div(class="col-lg-6" id="ownedForm")
                div(class="input-group")
                    input(class="form-control", type='text', id="ownedID", placeholder='Book ID of owned book...')
                    span(class="input-group-btn")
                        button(class="btn btn-default" type="button" id="addOwned") Add
            div(class="col-lg-6" id="wantedForm")
                div(class="input-group")
                    input(class="form-control", type='text', id="wantedID", placeholder='Book ID of wanted book...')
                    span(class="input-group-btn")
                        button(class="btn btn-default" type="button" id="addWanted") Request

        div(class="row" id="bookLists")
            div(class="col-lg-6" id="ownedBox")
                ul.list-group(id="ownedList")
                    li.list-group-item Owned Book 1
                    li.list-group-item Owned Book 2
                    li.list-group-item Owned Book 3
            div(class="col-lg-6" id="wantedBox")
                ul.list-group(id="wantedList")
                    li.list-group-item Wanted Book 1
                    li.list-group-item Wanted Book 2
                    li.list-group-item Wanted Book 3

