div(id="first")
    div(class="container")
        div(class="col-md-4 col-md-offset-8")
            img(src="img/book1.svg" id="top-right-book")
    div(class="container" id="logo")
        div(class="col-xs-3")
            img(src="img/book2.svg" id="bottom-left-book")
        div(class="col-xs-6")
            include logo
        div(class="col-xs-3")
    div(class="container bottom-align-text" id="buttons")
        span(class="col-xs-3 col-xs-offset-3 text-center")
                a(class="btn btn-default" href="/login/facebook" role="button") SIGN UP
        span(class="col-xs-3 text-center")
                a(class="btn btn-default" href="/login/facebook" role="button") LOGIN