doctype html
html
    head
        meta(charset='utf-8')
        title Loops
        link(rel='stylesheet' type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        link(rel='stylesheet' type="text/css" href="css/home.css")
        link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")

    include navbar.pug
    body
        include homefirst.pug
        div(id="second")
            .container
                .row
                    .col-md-6.about_graphic
                        //div(id="second-transition-book")
                            //div(class="col-md-8")
                            //img(src="img/book4.svg" id="second-transition-book-img")
                    .col-md-3.about_column
                        h2#about-title What is Loop?
                        br
                        p Loop is an innovative way to trade, buy, and sell.
                        br
                        p Users pick what textbooks they want and what they're willing to trade for them (or prices to buy/sell at), and our algorithm will do the rest. 
                        br 
                        p By comparing book lists of all of our users, Loop automatically generates the smartest trade circles that maximize the number of people who get what they want, with almost no effort involved on the part of the user. 
                        br
                        p People who get matched up with a sale or trade can then meet up in person to complete the exchange.
                    .col-md-3.about_column
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur erat eros, a suscipit lorem dignissim ut.
                        br
                        p Suspendisse bibendum turpis arcu, vitae accumsan lectus vulputate sollicitudin. Phasellus feugiat mattis mauris at viverra. In eget justo eu nulla ullamcorper rutrum sed eu felis.
                        br
                        p Cras ut porttitor enim. Nulla varius tincidunt mi, at imperdiet odio vulputate ut. Nullam a felis ante. Integer metus augue, maximus accumsan nisl eu, rutrum sodales ante. Proin eget ex eu felis congue vehicula et nec risus. Sed in varius orci. Aenean tristique ligula id erat egestas tincidunt.

        div(id="third")
            .container
                .row   
                    .col-md-12.contact
                        h2#contact-title Contact Us
                       

                div(class="container")
                    span()
                        div(class="col-sm-4")
                        div(class="col-sm-4 text-center")
                            <span class="glyphicon glyphicon-menu-up" id="backtotop" aria-hidden="true"></span>
                        div(class="col-sm-4")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
        script(src='js/navbar.js')
        script(src='js/home.js')

