div(id="first")
    div(class="container" id="logo")
        div(class="col-xs-3")
        div(class="col-xs-6")
            include logo
        div(class="col-xs-3")
    div(class="container bottom-align-text" id="buttons")
        span(class="col-xs-6 text-right")
            a(class="btn btn-default" href="/login/facebook" role="button") sign up
        span(class="col-xs-6 text-left")
            a(class="btn btn-default" href="/login/facebook" role="button") login
    div(class="container")
        span()
            div(class="col-xs-4")
            div(class="col-xs-4 text-center")
                //<span class="glyphicon glyphicon-menu-down" id="about" aria-hidden="true"></span>
            div(class="col-xs-4")
    div(class="container")
        div(class="col-xs-12")
            img(src="assets/bookshelf.svg" id="bookshelf")