doctype html
html
    head
        meta(charset='utf-8')
        title Loops
        link(rel='stylesheet' type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        link(rel='stylesheet' type="text/css" href="css/home.css")
        link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")

    body
        include navbar.pug
        include homefirst.pug
        #second
            .container
                .row
                    //.col-md-6.about_graphic
                    .col-md-6.about_animation
                        img(src="img/loop-animation.gif" id="loop-animation-gif")
                    .col-md-3.about_column
                        h2#about-title What is Loop?
                        br
                        p Loop is an innovative way to trade, buy, and sell textbooks.
                        br
                        p Users pick what textbooks they want and what they're willing to trade for them, and our algorithm will do the rest.
                        br 
                        p By comparing book lists of all of our users, Loop automatically generates the smartest trade circles that maximize the number of people who get what they want, with almost no effort involved on the part of the user. 
                        br
                        p People who get matched up with a trade can then meet up in person to complete the exchange.
                    .col-md-3.about_column
                        .col-md-12#first-transition-book
                            img(src="img/book3.svg" id="first-transition-book-img")
                        p Since trades are only matched between students from the same school,there's no need for shipping or waiting for books to arrive!
                        br
                        p Don't want to trade textbooks, but just want to buy or sell them with or for cash? No problem! When adding a book to your lists, just specify that you want to trade books for cash (or vice versa), and set a price that you're willing to accept.
        #third
            .container
                .row   
                    .col-md-3#second-transition-book
                        img(src="img/book4.svg" id="second-transition-book-img")
                    .col-md-6.contact
                        h2#contact-title Contact Us
                        form.form-horizontal#contact-form
                            .form-group
                                label.col-md-3.control-label(for="inputName") Name
                                .col-md-9
                                    input.form-control(type="text" class="form-control" id="inputName" placeholder="")
                            .form-group
                                label.col-md-3.control-label(for="inputEmail") Email
                                .col-md-9
                                    input.form-control(type="email" class="form-control" id="inputEmail" placeholder="")
                            .form-group
                                label.col-md-3.control-label(for="inputSubject") Subject
                                .col-md-9
                                    input.form-control(type="text" class="form-control" id="inputSubject" placeholder="")
                            .form-group
                                label.col-md-3.control-label(for="inputMessage") Message
                                .col-md-9
                                    textarea.form-control(rows="8" class="form-control" id="inputMessage" placeholder="")
                        .text-center
                            a(class="btn btn-default" href="#" role="button") SEND
                    .col-md-3#third-transition-laptop
                        img(src="img/laptop.svg" id="third-transition-laptop-img")

                .container
                    span()
                        .col-md-4.col-md-offset-4.text-center
                            span(class="glyphicon glyphicon-menu-up" id="backtotop" aria-hidden="true")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
        script(src='js/navbar.js')
        script(src='js/home.js')

