div(id="first")
    div(class="container" id="logo")
        div(class="col-md-12 text-center")
            img(src="http://cdn2.hubspot.net/hub/53/file-23117129-png/blog/images/closed-loop-marketing.png")
    div(class="container bottom-align-text" id="buttons")
        span(class="col-sm-6 text-right")
                a(class="btn btn-default" href="/login/facebook" role="button") Sign Up
        span(class="col-sm-6 text-left")
                a(class="btn btn-default" href="/login/facebook" role="button") Login
    div(class="container")
        span()
            div(class="col-sm-4")
            div(class="col-sm-4 text-center")
                <span class="glyphicon glyphicon-menu-down" id="about" aria-hidden="true"></span>
            div(class="col-sm-4")