.popup(data-popup='modify-trade')
    #myEditTradeCarousel.carousel.slide(data-ride='carousel' data-interval="false" data-wrap="false")
        .popup-inner
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#myEditTradeCarousel', data-slide-to=0)
                li(data-target='#myEditTradeCarousel', data-slide-to=1)
            // Wrapper for slides
            .carousel-inner
                .item.active#first-popup
                    a.popup-close(data-popup-close='popup-1', href='#') x
                    .row.slideHeader
                        h3.slideTitle TRADE INFO
                        img.top-right-bookshelf(src="./images/Bookshelf_NewTrade1.svg")
                    .slideContent
                        .row.confirmWrapper
                            .col-md-6
                                h5.confirmSubtitle OFFERING
                                .row.confirmBookInfoBox
                                    .col-md-6
                                        img#confirmTradeOwnedBookImg(src="", alt='Card image cap')
                                    .col-md-6.confirmOwnedBookText
                                        h6#confirmTradeOwnedBookTitle
                                        h6#confirmTradeOwnedBookAuthor
                                        h6#confirmTradeOwnedBookIsbn
                            .col-md-6
                                .confirmWantedBooksBox
                                    h5.confirmSubtitle TRADES
                                    ul.confirmBooksList.list-group
                    .row.transitionButtonRow
                        .col-sm-2.col-sm-offset-5.text-center
                            button.btn.btn-primary.editButton(type="button") EDIT
                    img.bottom-left-bookshelf(src="./images/Bookshelf_NewTrade2.svg")
                .item
                    a.popup-close(data-popup-close='popup-1', href='#') x
                    .row.slideHeader
                        h3.slideTitle EDIT TRADE
                        img.top-right-bookshelf(src="./images/Bookshelf_NewTrade1.svg")
                    .slideContent
                        h5.slideMessage Modify the books you want to add to your trades.
                        .row.searchForm
                            .col-md-8#wantedForm
                                .input-group
                                    input.form-control#wantedInput(type='text', placeholder='Search by title, professor, or class' aria-describedby="wantedInputAddon")
                                    .input-group-addon#wantedInputAddon #[span(class="glyphicon glyphicon-search")]
                                ul#wantedSearchResultsList.list-group
                            col-md-4.wantedBooksDisplay
                                ul.wantedBooksList.list-group
                    .row.transitionButtonRow
                        .col-sm-3.col-sm-offset-3.text-center
                            button.btn.btn-primary.undoEditButton(type="button") UNDO
                        .col-sm-3.text-center
                            button.btn.btn-primary.editButton#confirmTradeChangesButton(type="button") SUBMIT
                    img.bottom-left-bookshelf(src="./images/Bookshelf_NewTrade2.svg")