link(rel='stylesheet' type="text/css" href="css/navbar.css")
nav.navbar.navbar-default.navbar-fixed-top.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(href='#')
                img(alt='LOOP', src="/images/logo_navbar.svg", id="navbar_logo")
        ul.nav.navbar-nav.navbar-right
            li
                a(href='#') Contact Us
            li
                a(href='#') About
            li
                a(href='#') Login


script(src='js/navbar.js')
