.popup(data-popup='popup-1')
    #myCarousel.carousel.slide(data-ride='carousel' data-interval="false" data-wrap="false")
        .popup-inner
                // Indicators
                ol.carousel-indicators
                    li.active(data-target='#myCarousel', data-slide-to=0)
                    li(data-target='#myCarousel', data-slide-to=1)
                    li(data-target='#myCarousel', data-slide-to=2)
                    li(data-target='#myCarousel', data-slide-to=3)
                // Wrapper for slides
                .carousel-inner
                    .item.active
                        a.popup-close(data-popup-close='popup-1', href='#') x
                        h3 NEW TRADE
                        div(class="row" id="forms")
                            div(class="col-lg-12" id="ownedForm")
                                label Select the book you can offer.
                                div(class="input-group")
                                    input(class="form-control", type='text', id="ownedInput", placeholder='Search by title, professor, or class' aria-describedby="ownedInputAddon")
                                    span(class="input-group-addon" id="ownedInputAddon") #[span(class="glyphicon glyphicon-search")]
                        div(class="row" id="searchResults")
                            div(class="col-lg-12" id="ownedSearchResultsBox")
                                ul(id = "ownedSearchResultsList").list-group
                        div(class = "row" id="transitionButtonRow")
                            div(class = "col-lg-12 text-center")
                                button(class="btn btn-primary nextButton" type="button" id="pick_book_next") Next
                    .item
                        a.popup-close(data-popup-close='popup-1', href='#') x
                        h3 NEW TRADE 
                        h5#slideMessage Confirm book!
                        .row.ownedBookWrapper
                            .col-md-8.ownedBookText
                                h4(id="ownedBookTitle")
                                h4(id="ownedBookAuthor")
                                h4(id="ownedBookIsbn")
                                h4(id="ownedBookClasses")
                                h4(id="ownedBookProfs")
                            .col-md-4
                                img(src="", alt='Card image cap', id="ownedBookImg")
                        div(class = "row" id="transitionButtonRow")
                            div(class = "col-sm-3 col-sm-offset-3 text-center")
                                button(class="btn btn-primary prevButton" type="button") Previous
                            div(class = "col-sm-3 text-center")
                                button(class="btn btn-primary nextButton" type="button") Next
                    .item
                        a.popup-close(data-popup-close='popup-1', href='#') x
                        h3 NEW TRADE (select wanted books)
                        div(class="row" id="forms")
                            h5#slideMessage Select the books you want to add to your trades.
                            div(class="col-md-8" id="wantedForm")
                                div(class="input-group")
                                    input(class="form-control", type='text', id="wantedInput", placeholder='Search by title, professor, or class' aria-describedby="wantedInputAddon")
                                    span(class="input-group-addon" id="wantedInputAddon") #[span(class="glyphicon glyphicon-search")]
                                ul(id = "wantedSearchResultsList").list-group
                            div(class="col-md-4, wantedBooksDisplay")
                                ul(class = "wantedBooksList").list-group
                        div(class = "row" id="transitionButtonRow")
                            div(class = "col-sm-3 col-sm-offset-3 text-center")
                                button(class="btn btn-primary prevButton" type="button") Previous
                            div(class = "col-sm-3 text-center")
                                button(class="btn btn-primary nextButton" type="button" id="wanted_list_next") Next
                    .item
                        a.popup-close(data-popup-close='popup-1', href='#') x
                        h3 NEW TRADE 
                        h5#slideMessage Confirm trades!
                        .row.confirmWrapper
                            .col-md-6
                                h5.confirmSubtitle OFFERING
                                .col-md-6
                                    img(src="", alt='Card image cap', id="confirmOwnedBookImg")
                                .col-md-6.confirmOwnedBookText
                                    h6(id="confirmOwnedBookTitle")
                                    h6(id="confirmOwnedBookAuthor")
                                    h6(id="confirmOwnedBookIsbn")
                                    h6(id="confirmOwnedBookClasses")
                                    h6(id="confirmOwnedBookProfs")
                            .col-md-6.ownedBookText
                                h5.confirmSubtitle TRADES
                                div(class="col-md-6, wantedBooksDisplay")
                                    ul(class = "wantedBooksList").list-group
                        div(class = "row" id="transitionButtonRow")
                        div(class = "row" id="transitionButtonRow")
                            div(class = "col-sm-3 col-sm-offset-3 text-center")
                                button(class="btn btn-primary prevButton" type="button") Previous
                            div(class = "col-sm-3 text-center")
                                button(class="btn btn-primary nextButton" type="button") Confirm
