.popup(data-popup='popup-1')
    .popup-inner
        h2 What Book Are You Willing to Offer?
        p Pick a book... :)
        p
            a(data-popup-close='popup-1', href='#') Close
        a.popup-close(data-popup-close='popup-1', href='#') x
