// Lato font
link(href = 'https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css')

.popup(data-popup='popup-1')
    #myCarousel.carousel.slide(data-ride='carousel' data-interval="false" data-wrap="false")
        .popup-inner
                // Indicators
                ol.carousel-indicators
                    li.active(data-target='#myCarousel', data-slide-to=0)
                    li(data-target='#myCarousel', data-slide-to=1)
                    li(data-target='#myCarousel', data-slide-to=2)
                    li(data-target='#myCarousel', data-slide-to=3)
                // Wrapper for slides
                .carousel-inner
                    .item.active
                        a.popup-close(data-popup-close='popup-1', href='#') x
                        .row.slideHeader
                            h3.slideTitle NEW TRADE
                            img.top-right-bookshelf(src="./images/Bookshelf_NewTrade1.svg")
                        .slideContent
                            h5.slideMessage Select the book you can offer.
                            .row.searchForm
                                .col-lg-12
                                    .input-group
                                        input.form-control#ownedInput(type='text', placeholder='Search by title, professor, or class' aria-describedby="ownedInputAddon")
                                        span.input-group-addon#ownedInputAddon #[span(class="glyphicon glyphicon-search")]
                                    ul#ownedSearchResultsList.list-group
                        .row.transitionButtonRow
                            .col-lg-12.text-center
                                button.btn.btn-primary.nextButton#pick_book_next(type="button") Next
                        img.bottom-left-bookshelf(src="./images/Bookshelf_NewTrade2.svg")
                    .item
                        a.popup-close(data-popup-close='popup-1', href='#') x
                        .row.slideHeader
                            h3.slideTitle NEW TRADE
                            img.top-right-bookshelf(src="./images/Bookshelf_NewTrade1.svg")
                        .slideContent
                            h5.slideMessage Confirm book!
                            .row.confirmWrapper
                                .col-md-8.ownedBookText
                                    h4#ownedBookTitle
                                    h4#ownedBookAuthor
                                    h4#ownedBookIsbn
                                    h4#ownedBookClasses
                                    h4#ownedBookProfs
                                .col-md-4
                                    img#ownedBookImg(src="", alt='Card image cap')
                        .row.transitionButtonRow
                            .col-sm-3.col-sm-offset-3.text-center
                                button.btn.btn-primary.prevButton(type="button") Previous
                            .col-sm-3.text-center
                                button.btn.btn-primary.nextButton(type="button") Next
                        img.bottom-left-bookshelf(src="./images/Bookshelf_NewTrade2.svg")
                    .item
                        a.popup-close(data-popup-close='popup-1', href='#') x
                        .row.slideHeader
                            h3.slideTitle NEW TRADE
                            img.top-right-bookshelf(src="./images/Bookshelf_NewTrade1.svg")
                        .slideContent
                            h5.slideMessage Select the books you want to add to your trades.
                            .row.searchForm
                                .col-md-8#wantedForm
                                    .input-group
                                        input.form-control#wantedInput(type='text', placeholder='Search by title, professor, or class' aria-describedby="wantedInputAddon")
                                        .input-group-addon#wantedInputAddon #[span(class="glyphicon glyphicon-search")]
                                    ul#wantedSearchResultsList.list-group
                                col-md-4.wantedBooksDisplay
                                    ul.wantedBooksList.list-group
                        .row.transitionButtonRow
                            .col-sm-3.col-sm-offset-3.text-center
                                button.btn.btn-primary.prevButton(type="button") Previous
                            .col-sm-3.text-center
                                button.btn.btn-primary.nextButton#wanted_list_next(type="button") Next
                        img.bottom-left-bookshelf(src="./images/Bookshelf_NewTrade2.svg")
                    .item
                        a.popup-close(data-popup-close='popup-1', href='#') x
                        .row.slideHeader
                            h3.slideTitle NEW TRADE
                            img.top-right-bookshelf(src="./images/Bookshelf_NewTrade1.svg")
                        .slideContent
                            h5.slideMessage Confirm trades!
                            .row.confirmWrapper
                                .col-md-6
                                    h5.confirmSubtitle OFFERING
                                    .col-md-6
                                        img#confirmOwnedBookImg(src="", alt='Card image cap')
                                    .col-md-6.confirmOwnedBookText
                                        h6#confirmOwnedBookTitle
                                        h6#confirmOwnedBookAuthor
                                        h6#confirmOwnedBookIsbn
                                .col-md-6
                                    .confirmWantedBooksBox
                                        h5.confirmSubtitle TRADES
                                        ul.confirmBooksList.list-group
                        .row.transitionButtonRow
                            .col-sm-3.col-sm-offset-3.text-center
                                button.btn.btn-primary.prevButton(type="button") Previous
                            .col-sm-3.text-center
                                button.btn.btn-primary.nextButton#confirmButton(type="button") Confirm
                        img.bottom-left-bookshelf(src="./images/Bookshelf_NewTrade2.svg")