#forms {
    margin-top:20vh;
    margin-left:5vh;
    margin-right:5vh;
}

#bookLists, #searchResults {
    margin-top:5vh;
    margin-left:5vh;
    margin-right:5vh;
}

h1 {
    margin-top:10vh;
    margin-left:8vh;
    margin-right:5vh;
}