#logo {
	margin-top:50px;
}

[class*="col-"] {
    margin-bottom: 15px;
}

#first, #second {
	height:100vh;
	min-height:100vh;
}

.btn {
	min-width: 80px;
	min-height: 20px;
}

#about {
	margin-top:15px;
	-webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(2,1); /* W3C */
	font-size: 250%;
}