#logo {
	margin-top: 8vh;
	margin-bottom: 8vh;
	max-height: 40vh;
	min-height: 40vh;
}

#first, #second {
	height:100vh;
	min-height:100vh;
	max-height:100vh;
}

.btn {
	min-width:22vh;
	max-width:22vh;
	background-color: #FECF67;
	border:0px;
	color: white;
	box-shadow: 5px 5px 10px #CCCCCC;
	text-align: center;
	line-height: 4vh;
	margin-top: 3vh;
}

#bookshelf {
	margin-top: -10vh;
}

.buttons{
	display:flex;
	flex-wrap:nowrap;
}

#about {
	margin-top:50px;
	-webkit-transform:scale(1.5,1); /* Safari and Chrome */
    -moz-transform:scale(1.5,1); /* Firefox */
    -ms-transform:scale(1.5,1); /* IE 9 */
    -o-transform:scale(1.5,1); /* Opera */
    transform:scale(1.5,1); /* W3C */
	font-size: 250%;
	color: #008CBA;
}