/* navbar */

.navbar-fixed-top {
    opacity: 0.6;
    transition: all ease-out;
    background: #52b9d1;
    border: 0;
}

.nav.navbar-nav.navbar-right li a{
    color: white;
    font-size:120%;
}

.nav.navbar-nav.navbar-right{
    padding-right: 2vh;
}

#navbar_logo{
    height: 38px;
}

.navbar-brand{
    padding-top: 1vh;
}