/* navbar */
nav {
    box-shadow: 0px 1px 8px #AAA;
}

.navbar-fixed-top {
    transition: background 2.0s ease-out;
    background: linear-gradient(to right, rgba(255,153,153,1),rgba(255,204,153,1));
    border: 0;
}

.nav.navbar-nav.navbar-right li a{
    color: white;
}