#forms {
    margin-top:5vh;
    margin-left:5vh;
    margin-right:5vh;
    z-index: 0;
}

#searchResults {
    margin-left:5vh;
    margin-right:5vh;
}

/* Message on the top of the slide */
#slideMessage {
	padding-left: 3vh;
}

/* list of entries from search query results */
#ownedSearchResultsList, #wantedSearchResultsList, .wantedBooksList, .confirmBooksList {
	background-color: rgb(254, 254, 254);
	height: 30vh;
	overflow-y: scroll;
	margin-top: 0;
  	margin-bottom: 0;
}

/* search box for user input */
#ownedInput, #wantedInput, .form-control::-webkit-input-placeholder {
	background-color: rgb(35, 188, 212);
	border-color: rgb(35, 188, 212);
	border-radius: 0;
	color: rgb(255, 255, 255);
}

/* little magnifying glass icon beside search box */
#ownedInputAddon, #wantedInputAddon {
	background-color: rgb(24, 166, 181);
	border-color: rgb(24, 166, 181);
	border-radius: 0;
	color: rgb(255, 255, 255);
}

/* display scroll bar by default */
::-webkit-scrollbar {
	width: 12px;  
}

#ownedSearchResultsList::-webkit-scrollbar-thumb, #wantedSearchResultsList::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgb(146, 214, 225);
	-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.2);
}

.wantedBooksList::-webkit-scrollbar-thumb, .confirmBooksList::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgb(242, 242, 242);
	-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.2);
}

/* hovering over search result item or after clicking it */
.list-group-item:hover, .highlight-owned {
	background-color: rgb(242, 242, 242); /* or whatever color you'd like */
}

#transitionButtonRow {
	margin-top:3vh;
}

.nextButton, .prevButton, .btn:focus, .btn:focus:active, .btn:hover {
	background-color: rgb(253, 206, 48);
	border-color: rgb(253, 206, 48);
	border-radius:0;
	outline: none;
  	box-shadow:none;
}

h1 {
    margin-top:10vh;
    margin-left:8vh;
    margin-right:5vh;
}

h3 {
	text-align: center;
}

/*
 * Pop up 
 */

.popup {
    z-index: 10;
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
    z-index: 20; 
    height:70vh;
    width:100vh;
    padding-top: 10px;
    padding-left: 15px;
    position:absolute;
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background: rgb(254, 254, 254);
    overflow:hidden;
}

/* Close button for pop up*/
.popup-close, .popup-close:hover {
	font-size:20px;
	text-decoration:none;
	color: rgb(149, 149, 149);
}

/* Indicators (circles) on the bottom of pop up */
.carousel-indicators {
	text-align: center;
}

.carousel-indicators li {
    border-color: rgb(219, 219, 219);
    background-color: rgb(219, 219, 219);
    margin: 0px 2px;
}

.carousel-indicators .active {
    background-color: rgb(184, 184, 184);
    margin: 0px 2px;
}

/* 
 * Owned book slide 
 */ 

/* Image for owned book */
#ownedBookImg {
	height: 70%;
	width: 70%;
}

.ownedBookText {
	padding-left:5vh;
}

.ownedBookWrapper {
	background-color: rgb(236,236,236);
	padding-top: 5vh;
	padding-bottom: 5vh;
	margin-right: 5vh;
	margin-left: 2vh;
}

/* 
 * Select wanted books slide 
 */

.wantedBooksList {
	height: 35vh;
}

/* scale image for selected wanted books */
.wantedBooksList img {
	width: 22vh;
}

/* close/remove button for selected books */

.closeButton, .closeButton:hover {
	width:20px;
    height:20px;
    float: right;
    color: #fff;
    border-radius:100%;
    background: rgb(24,166,181);
    font-size: 15px;
    text-align:center; 
}

/*
 * Confirm trade slide
 */

.confirmWrapper {
	background-color: rgb(236,236,236);
	padding-top: 1vh;
	padding-bottom: 0.5vh;
	margin-right: 5vh;
	margin-left: 2vh;
	height: 40vh;
}

.confirmSubtitle {
	text-align: center;
}


 /* Image for owned book */
#confirmOwnedBookImg {
	height: 100%;
	width: 100%;
}

/* Text summary for owned book */
.confirmOwnedBookText > h6 {
	font-size: 16px;
}

/*
 * Confirm Trade Slide
 */

.confirmBooksList {
	height: 28vh;
}

/* scale image for selected wanted books */
.confirmBooksList li img {
	width: 8vh;
	margin-right:5px;
}

.confirmBooksList li p {
	display: inline;
}