/* Apply to all elements */
* {
	font-family: 'Lato', sans-serif;
}

/* Image for owned book */
#confirmOwnedBookImg {
	height: 100%;
	width: 100%;
}

#ownedBookImg {
	height: 70%;
	width: 70%;
}

/* search box for user input */
#ownedInput, #wantedInput, .form-control::-webkit-input-placeholder {
	background-color: rgb(35, 188, 212);
	border-color: rgb(35, 188, 212);
	border-radius: 0;
	color: rgb(255, 255, 255);
}

/* little magnifying glass icon beside search box */
#ownedInputAddon, #wantedInputAddon {
	background-color: rgb(24, 166, 181);
	border-color: rgb(24, 166, 181);
	border-radius: 0;
	color: rgb(255, 255, 255);
}

/* list of entries from search query results */
#ownedSearchResultsList, #wantedSearchResultsList, .wantedBooksList, .confirmBooksList {
	background-color: rgb(254, 254, 254);
	height: 30vh;
	margin-bottom: 0;
	margin-top: 0;
	overflow-y: scroll;
}

#ownedSearchResultsList::-webkit-scrollbar-thumb, #wantedSearchResultsList::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, .2);
	background-color: rgb(146, 214, 225);
	border-radius: 5px;
}

#searchResults {
	margin-left: 5vh;
	margin-right: 5vh;
}

/* book-shelf image on top right corner */
.bottom-left-bookshelf {
	height: 15%;
	margin-left: 3vh;
	margin-top: -2vh;
	float: left;
	right: 0;
	width: 15%;
}

.carousel-indicators .active {
	background-color: rgb(184, 184, 184);
	margin: 0 2px;
}

.carousel-indicators li {
	background-color: rgb(219, 219, 219);
	border-color: rgb(219, 219, 219);
	margin: 0 2px;
}

.closeButton, .closeButton:hover {
	background: rgb(24, 166, 181);
	border-radius: 100%;
	bottom: -1vh;
	color: #fff;
	float: right;
	font-size: 15px;
	height: 20px;
	left: 0vh;
	position: relative;
	text-align: center;
	width: 20px;
}

/* align confirm owned book info */
.confirmBookInfoBox {
	padding: 2vh 0vh 2vh 2vh;
}

.confirmBooksList {
	height: 28vh;
}

/* add spacing between list elements */
.confirmBooksList li, .confirmBooksList li:hover {
	margin: 0 0 6px 0;
	background-color: rgb(136, 216, 229);
}

/* scale image for selected wanted books */
.confirmBooksList li img {
	margin-right: 5px;
	width: 8vh;
}

.confirmBooksList li p {
	color: #ffffff;
}

/* Text summary for owned book */
.confirmOwnedBookText>h6 {
	font-size: 16px;
}

.confirmSubtitle {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

/* Box enclosing wanted books list to confirm */
.confirmWantedBooksBox {
	background-color: rgb(254, 254, 254);
	/*margin-left: 0vh;*/
	padding: 0.5vh 1vh 1vh 1vh;
	/*margin-bottom: 0.5vh;*/
}

.confirmWrapper {
	background-color: rgb(236, 236, 236);
	height: 36vh;
	margin-top: 3vh;
	padding-bottom: .5vh;
	padding-top: 1vh;
}

/* hovering over search result item or after clicking it */
.list-group-item:hover, .highlight-owned {
	background-color: rgb(242, 242, 242);
}

.nextButton, .prevButton, .btn:focus, .btn:focus:active, .btn:hover, #pick_book_next, #wanted_list_next {
	background-color: rgb(253, 206, 48);
	border-color: rgb(253, 206, 48);
	border-radius: 0;
	box-shadow: none;
	outline: none;
}

.ownedBookText {
	padding-left: 5vh;
}

.popup {
	background: rgba(0, 0, 0, 0.75);
	color: rgb(114, 114, 114);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

/* Close button for pop up*/
.popup-close, .popup-close:hover {
	color: rgb(149, 149, 149);
	font-size: 20px;
	text-decoration: none;
}

.popup-inner {
	background: rgb(254, 254, 254);
	border-radius: 3px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
	height: 70vh;
	overflow: hidden;
	padding-left: 15px;
	padding-top: 10px;
	position: absolute;  /* TODO: used to be absolute */
	width: 100vh;
	z-index: 20;
}

.searchForm {
/*	margin-left: 8vh;
	margin-right: 10vh;*/
	margin-top: 3vh;
	z-index: 0;
}

/* Content block inside slide */
.slideContent {
	margin-left: 8vh;
	margin-right: 10vh;
}

/* Header (title and image) for slide */
.slideHeader {
	margin-top: -3vh;
	text-align: center;
}

/* Message on the top of the slide */
.slideMessage {
	font-size: 16px;
}

/* Title on top of slide (New Trade) */
.slideTitle {
	font-weight: bold;
}

/* book-shelf image on top right corner */
.top-right-bookshelf {
	float: right;
	height: 25%;
	margin-right: 5vh;
	margin-top: -4vh;
	right: 0;
	top: 0;
	width: 25%;
}

/* transition buttons */
.transitionButtonRow {
	margin-top: 3vh;
}

.transitionButtonRow button {
	float:bottom;
	position:relative;
}

.wantedBooksList {
	height: 32vh;
}

.wantedBooksList img {
	width: 22vh;
}

.wantedBooksList::-webkit-scrollbar-thumb, .confirmBooksList::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, .2);
	background-color: rgb(242, 242, 242);
	border-radius: 5px;
}

/* display scroll bar by default */
::-webkit-scrollbar {
	width: 12px;
}

h1 {
	margin-left: 8vh;
	margin-right: 5vh;
	margin-top: 10vh;
}