@media only screen and (min-width : 768px) {
    .ciContainer{
    /*    background-color: cornflowerblue;*/
    }

    .ciImageBox{
    /*    background-color: skyblue;*/
        padding: 12px;
    }

    .ciImage{
        object-fit: contain;
        max-height: 10vw;
    }

    .ciText{
        padding-top: 5px;
        color: white;
        }
}

@media only screen and (max-width : 768px) {
    .ciContainer{
    /*    background-color: cornflowerblue;*/
    }

    .ciImageBox{
    /*    background-color: skyblue;*/
        padding: 12px;
    }

    .ciImage{
        object-fit: contain;
        max-height: 15vh;
    }

    .ciText{
        padding-top: 5px;
        color: white;
        }
}