.cardGrid{
/*    background-color: red;*/
    height: auto;
    display: flex;
/*    padding-left: 1%;*/
/*    padding-right: 1%;*/
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin-top: -17vh;
}

.cardSection{
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}