.cls-1,.cls-2{
  fill:'#52b9d1';
}

.cls-2{
  font-size:35.2px;
  font-family:'Lato-Medium', 'Lato';
}

.cls-3{
  letter-spacing:0em;
}

.cls-4{
  letter-spacing:-0.01em;
}

.cls-5{
  letter-spacing:0em;
}

.cls-6{
  letter-spacing:-0.02em;
}

.cls-7{
  letter-spacing:-0.01em;
}

.cls-8{
  letter-spacing:-0.02em;
}

.cls-9{
  letter-spacing:-0.02em;
}

.cls-10{
  letter-spacing:0em;
}

.cls-11{
  fill: none;
  stroke:'#fff';
  stroke-miterlimit:10;
  stroke-width:6px;
}