@media only screen and (min-width : 768px) {
    .tdContainer{
        background-color: #47AFCB;
        width: 70vw;
        height: 70vh;
        align-items: center;
        justify-content: center;    
    }
    
    .tdDetailContents {
        height: 60%;
    }

    .tdDetailContainer{
        width: 85%;
        height: 100%;
        background-color: white;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .tdDetailTextContainer{
        background-color: rgb(254, 254, 254);
        overflow: auto;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 10%;
        padding-bottom: 10%;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    .tdTitle{
        color: white;
        text-align: center;
        padding: 3%;
        font-size: 2em;
    }

    .tdLeft{
        flex: 2;
        padding: 5%;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 100%;
    }

    .tdCenter{
        width: 20%;
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .tdRight{
        flex: 2;
        padding: 5%;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 100%;
    }

    .tdImage {
        width: 40%;
    }

    /* navigation buttons */
    .tdButtonRow {
        position: absolute;
        bottom: 5%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .rejectButton {
        background-color: #E37449;
        border: 0px;
        color: white;
        margin-top: 3%;
        padding: 10px;
        font-size: 1.1em;
        margin-right: 5%;
    }

    .acceptButton {
        background-color: #4BB242;
        border: 0px;
        color: white;
        margin-top: 3%;
        padding: 10px;
        font-size: 1.1em;
    }

}

@media only screen and (max-width : 768px) {
    .tdContainer{
        background-color: #47AFCB;
        width: 92vw;
        height: 60vh;
        align-items: center;
        justify-content: center;    
    }
    
    .tdDetailContents {
        height: 60%;
    }

    .tdDetailContainer{
        width: 85%;
        height: 100%;
        background-color: white;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .tdDetailTextContainer{
        background-color: rgb(254, 254, 254);
        overflow: auto;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 10%;
        padding-bottom: 10%;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    .tdTitle{
        color: white;
        text-align: center;
        padding: 3%;
        font-size: 2em;
    }

    .tdLeft{
        flex: 2;
        padding: 5%;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: 100%;
    }

    .tdCenter{
        width: 10%;
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .tdRight{
        flex: 2;
        padding: 5%;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: 100%;
    }

    .tdImage {
        width: 40%;
    }

    /* navigation buttons */
    .tdButtonRow {
        position: absolute;
        bottom: 5%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .rejectButton {
        background-color: #E37449;
        border: 0px;
        color: white;
        margin-top: 3%;
        padding: 10px;
        font-size: 1.1em;
        margin-right: 5%;
    }

    .acceptButton {
        background-color: #4BB242;
        border: 0px;
        color: white;
        margin-top: 3%;
        padding: 10px;
        font-size: 1.1em;
    }
}









