.trade-splash{
    width: 70vw;
    height: 80vh;
    padding: 5%;
    background-color: lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
}
.trade-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
}

.trade-left{
    flex: 1;
    padding-right: 1%;
}

.trade-right{
    flex: 1;
    padding-left: 1%;
}